:root {
    --background: #F4F5F9;
    --dish-container-corner-radius: 20px;
}

body {
    background: var(--background);
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.ls_container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    padding: 16px;
    align-items: center;
    margin: 40px auto auto;
}

.ls_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ls_et {
    margin: 3px;
    width: auto;
}

.ls_text {
    width: max-content;
    margin: auto;
}

.ls_btn {
    padding: 7px 15px;
    margin-top: 10px;
}

.ls_title {
    width: max-content;
    margin: 0 auto 10px auto;
    font-size: x-large;
}

.ls_err {
    color: red;
    width: max-content;
    margin: auto auto 5px;
}

.active {
    background-color: var(--bs-primary);
    border-radius: 10px;
}

.active > a {
    color: white !important;
}

.c_dishes {
    display: flex;
    flex-wrap: wrap;
}

.c_category_name {
    font-size: xx-large;
    margin: 10px 10px 10px 30px;
}

.c_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.c_selectsort_form {
    margin-left: 30px;
    margin-bottom: unset;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.c_selectsort_form > .btn {
    margin: 5px;
}

.c_pagination {
    width: max-content;
    margin: 10px auto 15px auto;
}

.form-select {
    width: unset;
    display: unset;
    margin: 5px;
}

.dish_container {
    border-radius: var(--dish-container-corner-radius);
    background-color: white;
    width: min-content;
    margin: 10px;
}

.dish_img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: var(--dish-container-corner-radius);
    border-top-right-radius: var(--dish-container-corner-radius);
}

.dish_text_info {
    padding: 10px;
}

.dish_text_info > p {
    margin-bottom: 5px !important;
}

.dish_name {
    font-size: x-large;
    font-weight: 600;
}

.dish_price {
    font-size: x-large;
    margin: 10px;
    font-weight: 500;
}

.err_container {
    font-size: xxx-large;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: max-content;
    height: 100px;
}

.err_type {
    font-size: medium;
}

.dc_container {
    display: flex;
    align-items: center;
    border-radius: var(--dish-container-corner-radius);
    background-color: white;
    margin: 20px;
}

.dc_img {
    border-radius: var(--dish-container-corner-radius) 0 0 var(--dish-container-corner-radius);
    height: 200px;
    width: 150px;
    object-fit: cover;
}

.a_login {
    margin: 15px 15px 0;
    font-size: xxx-large;
    font-weight: 600;
}

.a_changepass {
    margin-left: 15px;
}

.a_rec_container {
    margin: 30px auto auto;
    width: 90%;
}

.a_rec_title {
    font-size: xx-large;
}

.u-form {
    margin: 0;
}