:root {
    --background: #F4F5F9;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

.ls_body {
    background: var(--background);
}

.ls_container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    padding: 16px;
    align-items: center;
    margin: 40px auto auto;
}

.ls_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ls_et {
    margin: 3px;
    width: auto;
}

.ls_text {
    width: max-content;
    margin: auto;
}

.ls_btn {
    padding: 7px 15px;
    margin-top: 10px;
}

.ls_title {
    width: max-content;
    margin: 0 auto 10px auto;
    font-size: x-large;
}

.active {
    background-color: var(--bs-primary);
    border-radius: 10px;
}

.active > a {
    color: white !important;
}